# Ignore everything
/*

# But include these files
!.gitignore
!README.md
!LICENSE*
!Assets/

# Ignore everything in Assets by default
Assets/*

# Include all C# scripts and their meta files in any subfolder
!Assets/**/*.cs
!Assets/**/*.cs.meta

# Include OAuth-specific files
!Assets/callback.html
!Assets/callback.html.meta
!Assets/client-metadata.json
!Assets/client-metadata.json.meta

# Ignore Unity generated directories
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.vscode/
